.header{
    color: darkgreen;
    display: flex;
    /* justify-content: center; */
    text-align: center;
    margin-left: 35%;
  }
  
.recipeDBLogo{
    height: 10%;
    width: 10%;
    float: left;
}
.marginForSpinner{
    margin-top: 20%;
    margin-left: 43%;
}
@media only screen and (max-width :800px) {
    .marginForSpinner{
        margin-left: 38%;
    }
}

