.tablestyle {
    font-size: large;
    border-collapse: collapse;
    width: 95%;
    margin-top: 5%;
    margin-left: 35px;
    text-align: center;

  }
  
  .tablestyle td, #tablestyle th {
    border: 2px solid #ddd;
    padding: 10px;
  }
  
  .tablestyle tr:nth-child(even){background-color: #f2f2f2;}
  
  
  .tablestyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(12, 118, 86);
    color: white;
  }

@media screen and (max-width: 1000px) {
    .tablestyle {
        font-size: medium;
        border-collapse: collapse;
        width: 95%;
        margin-top: 5%;
        margin-left: 2%;
    
      }
}
@media only screen and (max-width :800px) {
    .header{
      margin-left: 30% ;
      font-size:25px;
    }

}

@media only screen and (max-width :600px) {
    .header{
      margin-left:30% ;
      font-size:20px;
    }
}